# Enable Neutron
disable_service n-net
enable_service q-svc
disable_service q-agt
disable_service q-dhcp 
disable_service q-l3
enable_service q-meta
enable_service neutron
enable_service contrail

# Set passwords
DATABASE_PASSWORD=contrail123
RABBIT_PASSWORD=contrail123
SERVICE_TOKEN=contrail123
SERVICE_PASSWORD=contrail123
ADMIN_PASSWORD=contrail123 

# Enable Contrail
ENABLE_CONTRAIL=yes      

# Use Contrail plugins for Nova and Neutron
Q_PLUGIN=contrail        

# Physical interface Vrouter binds too
PHYSICAL_INTERFACE=p6p1

# Enable multi node setup
# MULTI_HOST=1
