proto
*~
.*.sw?
*.log
*.log.[1-9]
src
localrc
local.sh
files/*.gz
files/*.qcow2
files/images
files/pip-*
files/get-pip.py
stack-screenrc
*.pem
accrc
.stackenv
.prereqs
devstack-docs-*
docs/
docs-files
.localrc.auto
local.conf
