*~
.*.sw?
*.log
*.log.[1-9]
*.pem
.localrc.auto
.prereqs
.stackenv
accrc
docs/files
docs/html
files/*.gz
files/*.qcow2
files/images
files/pip-*
files/get-pip.py
local.conf
local.sh
localrc
proto
shocco
src
stack-screenrc
