Listen %HEAT_PIP_REPO_PORT%

<VirtualHost *:%HEAT_PIP_REPO_PORT%>
    DocumentRoot %HEAT_PIP_REPO%
    <Directory %HEAT_PIP_REPO%>
        DirectoryIndex index.html
        Require all granted
        Order allow,deny
        allow from all
    </Directory>

    ErrorLog /var/log/%APACHE_NAME%/heat_pip_repo_error.log
    LogLevel warn
    CustomLog /var/log/%APACHE_NAME%/heat_pip_repo_access.log combined
</VirtualHost>
