Listen %PORT%

<VirtualHost *:%PORT%>
    WSGIDaemonProcess ceilometer-api processes=2 threads=10 user=%USER% display-name=%{GROUP}
    WSGIProcessGroup ceilometer-api
    WSGIScriptAlias / %WSGIAPP%
    WSGIApplicationGroup %{GLOBAL}
    <IfVersion >= 2.4>
        ErrorLogFormat "%{cu}t %M"
    </IfVersion>
    ErrorLog /var/log/%APACHE_NAME%/ceilometer.log
    CustomLog /var/log/%APACHE_NAME%/ceilometer_access.log combined
</VirtualHost>

WSGISocketPrefix /var/run/%APACHE_NAME%
