Listen %PUBLICPORT%

<VirtualHost *:%PUBLICPORT%>
    DocumentRoot "%HTTPROOT%"
    <Directory "%HTTPROOT%">
        Options Indexes FollowSymLinks
        AllowOverride None
        Order allow,deny
        Allow from all
        Require all granted
    </Directory>
</VirtualHost>
