# Once we can prebuild wheels before a devstack run, uncomment the skipped libraries
cryptography
# lxml # still install from from packages
# netifaces # still install from packages
#numpy    # slowest wheel by far, stop building until we are actually using the output
posix-ipc
# psycopg # still install from packages
pycrypto
pyOpenSSL
PyYAML
xattr
